:root {
  --color-background-primary: rgb(255, 255, 255);
  --color-background-darker: #dadada;

  --color-project-contrast: #f5f5f5;

  --color-accent-primary: #3742fa;
  --color-accent-primary-60: rgba(0, 8, 255, 0.6);

  --color-accent-secondary: #fed330;

  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-hint: rgba(0, 0, 0, 0.34);
}

[data-theme="dark"] {
  --color-background-primary: rgb(6, 1, 1);
  --color-background-darker: #190808;

  --color-project-contrast: #100505;

  --color-accent-primary: #ed4c67;
  --color-accent-primary-60: #833471;

  --color-accent-secondary: #5600ff;

  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-hint: rgba(255, 255, 255, 0.34);
}
