.contact-form,
.project-action-button {
  padding-left: 5px;
}

.contact-form:hover,
.project-action-button:hover {
  background-color: #fed330;
}

.contact-form p,
.project-action-button p {
  display: inline;
  margin-left: 1.5rem;
  font-family: var(--font-mono);
  color: var(--color-accent-primary);
  font-size: 24px;
}
