footer {
  margin-top: 5rem;
  text-align: center;
  padding: 50px;
  color: var(--color-accent-primary);
}

footer .navigation-list-item {
  font-size: 18px;
  color: var(--color-accent-primary);
  font-family: var(--font-mono);
}
