header {
  padding-top: 7rem;
  padding-bottom: 3.5rem;
  display: block;
  text-align: center;
}

@media (max-height: 900px) {
  header {
    padding-top: 0rem;
  }
}

header .socials-list {
  margin-top: 40px;
}

header .socials-list-items .fa {
  color: var(--color-text-primary);
}

header .socials-list-items .fa:hover {
  color: var(--color-text-secondary);
}

.welcome-message-container {
  display: inline-block;
  margin: 0 auto;
}

.welcome-message {
  font-family: var(--font-mono);
  color: var(--color-accent-primary);
  text-align: left;
  font-weight: bold;
}

@media (max-width: 600px) {
  .welcome-message {
    text-align: center;
  }
  .welcome-message.no-center {
    text-align: left;
  }
}
