.hello-hand.animate {
  animation: wave 1s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(40deg); }
  100% { transform: rotate(0deg); }
}
