@import "colors.css";
@import "fonts.css";

@import "header.css";
@import "footer.css";

@import "home.css";
@import "work.css";
@import "contact.css";

@import "switch.css";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  background: var(--color-background-primary);
  overflow-x: hidden;
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s; /* Safari */
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
}

header,
main,
footer {
  max-width: 1164px;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  header,
  main,
  footer {
    width: 90%;
  }
}

.fa,
.description,
.text-button {
  color: var(--color-accent-primary);
}

.fa,
.description,
.text-button {
  font-size: 24px;
}

@media (max-width: 600px) {
  .fa,
  .description {
    font-size: 18px;
  }
}

.fa {
  color: var(--color-accent-primary);
}

.fa:hover {
  color: var(--color-accent-primary-60);
}

.title {
  font-weight: 700;
  color: var(--color-text-primary);
  font-family: var(--font-sans-serif);
}

.title,
.welcome-message {
  font-size: 40px;
}

@media (max-width: 600px) {
  .title,
  .welcome-message {
    font-size: 36px;
  }
}

.description {
  color: var(--color-text-secondary);
  font-family: var(--font-sans-serif);
}

.navigation-list-item:hover,
.text-button:hover {
  text-decoration: underline;
}

.text-emphasis,
.text-button {
  font-weight: 300;
  background-image: linear-gradient(
    120deg,
    var(--color-accent-secondary) 0%,
    var(--color-accent-secondary) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
}

.text-button {
  font-family: var(--font-mono);
  color: var(--color-accent-primary);
}

.text-button:hover {
  background-color: var(--color-accent-secondary);
}

.main-wrapper {
  text-align: center;
}

.main-container {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.socials-list {
  margin: 0;
}

.socials-list-items,
.navigation-list-item {
  display: inline-block;
}

.socials-list-items .fa,
.navigation-list-item {
  padding: 5px;
}

.navigation-list-item {
  color: var(--color-accent-primary);
  opacity: 0.6;
  font-size: 24px;
}

.navigation-selected {
  font-weight: 500;
  color: var(--color-accent-primary);
  opacity: 1;
}

.icon.hello_hand {
  width: 48px;
}
