.project {
  text-align: center;
  overflow: hidden;
  padding-bottom: 5rem;
}

.project-hero,
.project-text {
  display: inline-block;
  width: 50%;
}

.hero-right .project-text,
.project-hero {
  float: left;
}

.hero-right .project-hero,
.project-text {
  float: right;
  overflow: hidden;
}

.project-text {
  text-align: left;
}

.hero-right .project-text {
  text-align: right;
}

.project-hero {
  text-align: center;
}

@media (max-width: 1180px) {
  main.work {
    width: 100%;
  }
}

@media (max-width: 870px) {
  .project {
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .project.contrast {
    background: var(--color-project-contrast);
  }

  .project,
  .project-text,
  .hero-right .project-text,
  .project-text {
    float: none;
    text-align: left;
  }

  .hero-right .project-hero,
  .project-hero {
    text-align: center;
  }

  .project-hero,
  .project-text {
    display: block;
    width: 100%;
  }

  .project-hero img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
}
