{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^~(api|hooks|lib|modules|services|styles|ui|utils)/(.*)$",
    "^~/(.*)$",
    ".*\\.css$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
