@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~styles/reset.css';

@layer base {
  html {
    @apply min-h-screen scroll-smooth bg-background text-primary;
    -webkit-tap-highlight-color: transparent;
    color-scheme: dark;
    font-family: var(--font-inter);
  }

  body {
    @apply min-h-screen;
  }

  button {
    @apply select-none outline-offset-4 focus:[&:not(:focus-visible)]:outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .layout-padding {
    @apply px-4 sm:px-[10vw] lg:px-[unset];
  }

  .layout-width-limiter {
    max-width: 1024px;
    margin: 0 auto;
  }

  .nav-card {
    @apply rounded-full bg-white/10 p-1 shadow-inner-glass backdrop-blur-md;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}
