@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~styles/reset.css';

@layer base {
  html {
    @apply min-h-screen scroll-smooth bg-ctx-primary text-ctx-primary-fg-primary;
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
  }

  body {
    font-family: var(--font-sans);
    @apply min-h-screen;
  }

  button {
    @apply select-none outline-offset-4 focus:[&:not(:focus-visible)]:outline-none;
  }

  ::selection {
    @apply bg-ctx-accent-secondary text-ctx-accent-secondary-fg-primary;
  }
}

@layer utilities {
  .layout-padding {
    @apply px-4 sm:px-[5vw] 2xl:px-0;
  }

  .layout-width-limiter {
    @apply mx-auto my-0 max-w-screen-xl;
  }
}
