@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-primary-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .layout-padding {
    @apply px-4 sm:px-[10vw] lg:px-[unset];
  }

  .layout-width-limiter {
    max-width: 1024px;
    margin: 0 auto;
  }
}
