:root {
  --editor-padding: 1rem 1rem 1.3rem 1rem;
  --syntax-text: #000000;
  --syntax-string: #41771f;
  --syntax-comment: #556745;
  --syntax-variable: #2e590d;
  --syntax-variable-2: #ffffff;
  --syntax-variable-3: #7f8d35;
  --syntax-number: #79823a;
  --syntax-atom: #79823a;
  --syntax-keyword: #46a100;
  --syntax-property: #8d3d66;
  --syntax-definition: #8a983d;
  --syntax-meta: #e5e5bf;
  --syntax-operator: #46a100;
  --syntax-attribute: #8a983d;
  --syntax-tag: #46a100;
}

pre {
  padding: var(--editor-padding);
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 0.875rem;
  border-radius: 13px;
  color: var(--frame-background);
}

code {
  color: var(--syntax-variable);
}

pre,
code {
  font-family: var(--font-mono);
  line-height: 1.6;
}

.hljs {
  color: var(--syntax-text);
}
.hljs-subst,
.hljs-tag {
  color: var(--syntax-tag);
}
.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
  color: var(--syntax-number);
}
.hljs-attr,
.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-title {
  color: var(--syntax-definition);
}
.hljs-strong {
  font-weight: 700;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  color: var(--syntax-keyword);
}
.hljs-attribute,
.hljs-property,
.hljs-symbol {
  color: var(--syntax-property);
}
.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_ {
  color: var(--syntax-definition);
}
.hljs-addition,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string {
  color: var(--syntax-string);
}
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--syntax-variable);
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: var(--syntax-comment);
}
