:root {
  --editor-padding: 1rem 1rem 1.3rem 1rem;
  --syntax-text: #ffffff;
  --syntax-string: #f9d38c;
  --syntax-comment: #878572;
  --syntax-variable: #eddd5d;
  --syntax-variable-2: #ffffff;
  --syntax-variable-3: #e7b555;
  --syntax-number: #e7cf55;
  --syntax-atom: #e7cf55;
  --syntax-keyword: #ffaf65;
  --syntax-property: #e978a1;
  --syntax-definition: #eddd5d;
  --syntax-meta: #fffded;
  --syntax-operator: #ffaf65;
  --syntax-attribute: #eddd5d;
  --syntax-tag: #ffaf65;
}

pre {
  padding: var(--editor-padding);
  white-space: pre-wrap;
}

code {
  color: var(--syntax-variable);
}

pre,
code {
  font-family: var(--font-jetbrains-mono);
  line-height: 1.6;
}

.hljs {
  color: var(--syntax-text);
}
.hljs-subst,
.hljs-tag {
  color: var(--syntax-tag);
}
.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
  color: var(--syntax-number);
}
.hljs-attr,
.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-title {
  color: var(--syntax-definition);
}
.hljs-strong {
  font-weight: 700;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  color: var(--syntax-keyword);
}
.hljs-attribute,
.hljs-property,
.hljs-symbol {
  color: var(--syntax-property);
}
.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_ {
  color: var(--syntax-definition);
}
.hljs-addition,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string {
  color: var(--syntax-string);
}
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--syntax-variable);
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: var(--syntax-comment);
}
